In [1]:
#You'll need to install pytresseract and its different for windows and macOS

In [49]:
#All imports here
import pytesseract
from pytesseract import Output
import cv2
from PIL import Image
import paddleocr

In [50]:

img1="52f6ed89-efe9-4b90-8dd6-4985898e337d.png"
img2="IMG_8855.png"
img3="img.png"
img4="787a3931-2622-4bd1-8110-14e20311db11.jpg"
img5="IMG_8677.PNG"
img6="images.jpeg"
img8="v.jpeg"
img7="ss"
img9="IMG_8984.png"
img10="98f3801e-0d39-45aa-92fb-bced2bbc58cb.JPG"
path="/Users/divypashine/College/Project/imgtraining/"
img11="Table.png"
savingpath="/Users/divypashine/College/Project/im1/"

for Normal text (easy becuase it is easily recognised)

In [3]:
def gettext(path,imgch):
    path=path+imgch
    img=Image.open(path)
    txt=pytesseract.image_to_string(img)
    return txt

when a picture of things are taken (like a book or object)

In [11]:
#Each letter (not needed)
def getboxforletter(path,imgch):
    path=path+imgch
    img=cv2.imread(path)
    height, width, p = img.shape
    boxes=pytesseract.image_to_boxes(img)
    for box in boxes.splitlines():
        box=box.split(" ")
        imged=cv2.rectangle(img,(int(box[1]),height-int(box[2])),(int(box[3]),height-int(box[4])),(0,255,0),2)
    cv2.imshow('Image_window',imged)
    cv2.waitKey(0)
    cv2.destroyAllWindows()

In [12]:
print(getboxforletter(path,img8))

2025-02-28 15:08:43.064 python[13129:118527] +[IMKClient subclass]: chose IMKClient_Modern
2025-02-28 15:08:43.064 python[13129:118527] +[IMKInputSession subclass]: chose IMKInputSession_Modern

None

In [64]:
#Each word
def getboxforword(path,imgch):
    path=path+imgch
    img=cv2.imread(path)
    img=cv2.cvtColor(img,cv2.COLOR_BGR2GRAY)
    height, width = img.shape
    data=pytesseract.image_to_data(img,output_type=Output.DICT)
    print(data)
    length=len(data['text'])
    for i in range(length):
        if (float(data['conf'][i]))>80:
            (x,y,width,height)=(data['left'][i],data['top'][i],data['width'][i],data['height'][i])
            img=cv2.rectangle(img,(x,y),(x+width,y+height),(0,255,0),2)
    cv2.imshow("Plotting_boxes",img)
    cv2.waitKey(0)
    cv2.destroyAllWindows()

In [65]:
print(getboxforword(path,img9))

{'level': [1, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 3, 4, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 2, 3, 4, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 3, 4, 5, 5], 'page_num': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'block_num': [0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9], 'par_num': [0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1], 'line_num': [0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 1, 1, 1], 'word_num': [0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 0, 0, 1, 0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 0, 0, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 0, 0, 1, 2], 'left': [0, 1357, 1357, 1357, 1357, 1358, 1358, 1358, 1358, 259, 259, 259, 259, 736, 864, 1041, 1344, 1661, 1857, 2133, 2251, 2456, 293, 293, 612, 612, 312, 312, 530, 733, 1324, 1647, 1969, 2508, 293, 293, 650, 969, 1626, 1762, 1966, 223, 223, 223, 223, 471, 576, 819, 1200, 1427, 1544, 1867, 2072, 2307, 2569, 229, 229, 654, 1079, 1289, 1917, 2324, 182, 186, 297, 297, 435, 770, 1037, 1207, 1615, 1730, 2146, 2466, 322, 310, 700, 1027, 1407, 1705, 1954, 2078, 2136, 2546, 195, 195, 747, 975, 1330, 1609, 1837, 1996, 2302, 2541, 312, 312, 857, 1159, 1294, 1628, 2112, 2439, 443, 443, 799, 961, 1367, 1560, 1880, 2122, 2200, 2483, 207, 207, 355, 670, 811, 909, 925, 1170, 1372, 271, 271, 564, 834, 1220, 1527, 1799, 2032, 2425, 195, 195, 499, 981, 1088, 1463, 1561, 1796, 2096, 2276, 2490, 293, 293, 586, 811, 947, 182, 182, 694, 1105, 1518, 1694, 2343, 2515, 187, 187, 617, 1092, 1444, 1630, 1950, 2178, 2424, 2631, 541, 541, 944, 1129, 1781, 1935, 2078, 2225, 2421, 2592, 2686, 255, 255, 691, 1057, 1505, 1807, 2031, 215, 215, 215, 215, 524, 704, 868, 1059, 1265, 1654, 2102, 2271, 1149, 1149, 1485, 1896, 2110, 2314, 2576, 210, 210, 210, 210, 332, 777, 1002, 243, 243, 518, 731, 815, 1178, 1333, 1955, 2137, 2248, 2510, 483, 483, 483, 483, 831], 'top': [0, 1, 1, 1, 1, 116, 116, 116, 116, 32, 32, 32, 32, 28, 28, 28, 28, 28, 28, 28, 28, 62, 131, 131, 131, 131, 241, 260, 241, 279, 278, 312, 286, 274, 358, 358, 409, 383, 455, 387, 437, 586, 586, 586, 586, 609, 603, 599, 623, 638, 598, 614, 607, 612, 641, 700, 706, 700, 722, 716, 722, 722, 813, 813, 813, 809, 809, 832, 847, 836, 848, 835, 850, 829, 924, 924, 924, 937, 947, 945, 914, 962, 941, 952, 1006, 1053, 1064, 1006, 1055, 1064, 1057, 1076, 1053, 1059, 1273, 1273, 1299, 1317, 1299, 1292, 1275, 1285, 1376, 1376, 1426, 1402, 1401, 1394, 1404, 1372, 1407, 1404, 1507, 1527, 1531, 1538, 1534, 1545, 1545, 1507, 1510, 1733, 1734, 1753, 1744, 1756, 1733, 1734, 1757, 1750, 1832, 1832, 1873, 1890, 1873, 1860, 1849, 1862, 1894, 1844, 1844, 1952, 1952, 1966, 1963, 1990, 2173, 2173, 2178, 2196, 2240, 2202, 2220, 2238, 2304, 2304, 2332, 2317, 2344, 2320, 2348, 2331, 2329, 2318, 2436, 2449, 2483, 2444, 2442, 2432, 2444, 2436, 2432, 2440, 2472, 2669, 2689, 2669, 2691, 2671, 2690, 2728, 2915, 2915, 2915, 2930, 2941, 2911, 2911, 2916, 2915, 2927, 2939, 2918, 3029, 3029, 3047, 3046, 3030, 3043, 3077, 3042, 3042, 3042, 3070, 3042, 3038, 3091, 3149, 3184, 3202, 3169, 3161, 3187, 3167, 3149, 3163, 3163, 3197, 3314, 3314, 3314, 3314, 3331], 'width': [2734, 772, 772, 772, 772, 368, 368, 368, 368, 2475, 2475, 2475, 515, 51, 119, 227, 229, 138, 218, 60, 89, 278, 2374, 2374, 28, 28, 2355, 96, 68, 406, 29, 150, 453, 159, 1683, 322, 9, 454, 32, 163, 10, 2381, 2381, 2381, 131, 78, 98, 318, 18, 11, 239, 131, 117, 182, 35, 2245, 321, 268, 64, 472, 205, 150, 2552, 2548, 2380, 115, 241, 175, 67, 202, 50, 276, 197, 211, 2297, 249, 182, 247, 214, 184, 81, 25, 340, 103, 2404, 205, 94, 193, 229, 72, 124, 132, 177, 58, 2282, 286, 106, 70, 43, 245, 147, 155, 2070, 224, 15, 283, 145, 229, 166, 26, 95, 30, 1537, 78, 100, 49, 23, 17, 78, 72, 372, 2284, 219, 81, 233, 103, 88, 202, 88, 130, 2476, 65, 278, 23, 81, 62, 182, 35, 38, 200, 181, 745, 202, 37, 80, 91, 2537, 183, 237, 268, 52, 442, 40, 204, 2493, 227, 352, 279, 101, 220, 151, 144, 256, 47, 2193, 136, 48, 557, 176, 54, 64, 160, 115, 33, 48, 1787, 208, 98, 236, 200, 173, 11, 2504, 2504, 2276, 216, 54, 95, 110, 135, 209, 368, 76, 220, 1570, 222, 241, 119, 123, 91, 143, 2318, 2318, 820, 83, 516, 75, 28, 2285, 60, 136, 62, 216, 112, 224, 102, 69, 163, 18, 367, 367, 367, 96, 19], 'height': [3618, 28, 28, 28, 28, 15, 15, 15, 15, 98, 98, 98, 63, 118, 118, 118, 118, 118, 118, 118, 118, 54, 342, 342, 24, 24, 117, 55, 59, 61, 30, 46, 54, 53, 115, 65, 11, 63, 18, 57, 11, 217, 217, 120, 71, 39, 47, 68, 36, 15, 108, 58, 62, 50, 26, 103, 58, 103, 39, 66, 59, 53, 1940, 1953, 87, 95, 95, 41, 53, 48, 41, 60, 41, 51, 90, 72, 65, 67, 54, 52, 115, 52, 73, 36, 114, 45, 41, 104, 65, 51, 50, 36, 55, 47, 101, 60, 42, 30, 28, 56, 80, 89, 86, 66, 7, 60, 58, 64, 46, 101, 38, 42, 68, 38, 23, 18, 20, 23, 28, 59, 65, 96, 55, 43, 58, 48, 96, 95, 38, 51, 91, 91, 43, 9, 43, 56, 64, 57, 25, 92, 92, 74, 73, 41, 58, 36, 137, 137, 86, 67, 25, 92, 44, 68, 122, 87, 50, 85, 35, 59, 37, 94, 97, 112, 69, 34, 22, 54, 53, 81, 42, 68, 81, 62, 32, 84, 77, 84, 46, 67, 52, 13, 198, 198, 78, 63, 35, 86, 86, 57, 68, 54, 35, 69, 84, 70, 56, 54, 70, 61, 36, 224, 220, 74, 22, 74, 89, 25, 117, 38, 33, 64, 76, 35, 55, 79, 103, 103, 19, 47, 47, 47, 47, 22], 'conf': [-1, -1, -1, -1, 95, -1, -1, -1, 95, -1, -1, -1, 0, 48, 40, 3, 11, 61, 37, 0, 39, 0, -1, -1, -1, 25, -1, 64, 15, 6, 41, 35, 0, 0, -1, 0, 58, 15, 92, 30, 76, -1, -1, -1, 56, 54, 43, 0, 23, 0, 22, 81, 52, 47, 48, -1, 7, 3, 6, 0, 0, 42, -1, -1, -1, 56, 0, 37, 27, 19, 54, 48, 0, 55, -1, 49, 58, 0, 0, 38, 18, 68, 0, 66, -1, 0, 56, 14, 0, 38, 42, 53, 55, 61, -1, 0, 30, 62, 62, 24, 34, 17, -1, 57, 49, 0, 3, 64, 26, 0, 46, 52, -1, 51, 71, 8, 65, 37, 37, 59, 0, -1, 0, 0, 53, 44, 28, 0, 68, 71, -1, 69, 0, 41, 13, 62, 0, 3, 35, 10, 26, -1, 0, 23, 86, 62, -1, 90, 46, 9, 23, 15, 0, 18, -1, 46, 22, 23, 63, 69, 47, 42, 5, 32, -1, 27, 69, 0, 1, 1, 41, 0, 0, 69, 88, -1, 0, 36, 16, 87, 0, 81, -1, -1, -1, 0, 1, 53, 59, 58, 0, 0, 73, 40, -1, 43, 0, 79, 69, 87, 43, -1, -1, -1, 0, 0, 65, 49, -1, 43, 38, 27, 0, 71, 3, 67, 20, 20, 57, -1, -1, -1, 73, 91], 'text': ['', '', '', '', ' ', '', '', '', ' ', '', '', '', 'OOMSSIEX', 'i', 'PR', 'dlaker', 'Cameo', 'lee', 'dent!)', 'n', 'MA', 'nokWee', '', '', '', '~)', '', 'ngs', 'ES', '-perkremed', 'ast', 'bry', 'tronamttyer', '!S.e_', '', 'CASALE', '.', 'Fewmerented', 'A', 'Se)', '.', '', '', '', 'Com', 'vid', 'ok<e', 'marcDIued,', 'i', ':', 'ARAL', 'Lom', 'De', 'Rem', 'ap', '', 'getever', 'Moreigh', 'G.', '_CormmurPeedten', 'medida', 'lee', '', '', '', 'Kus', 'BrRcli-', 'PO', 'bk', ' wtke', '&', 'Copel', 'care,', 'wes.)', '', 'Sloer', 'The', 'Akan', 'Esnay', 'Owe', 'Gy', '7', 'Goren', 'Cale', '', 'basnoae.©', '@', 'To)', 'UskROKn', '@&', 'ALA', 'eres', 'Baon', 'afl', '', 'CAORUOn', 'Ln', 'NS', 'Les', 'NMecek', 'Xena', 'gaa)', '', 'SUED', '4', 'atenvak', 'Se', 'back', 'oko.', '.', 'dol', '3', '', 'Se', 'tore', 'PSUS', 'GA', 'A', 'Ry', 'fo', 'herkRnalfon', '', 'Ra', 'ok?POn', 'Wore', 'dad', 'Sa', 'tosis', '2d', 'Com', '', 'OW', 'Deans', 'SLE', 'Lee', 'OW.', 'kee', 'y', 'oe', 'LeReu', 'easton', '', 'Rek', 'A', 'Zo', 'on', '', 'Dake', 'Data', '_prekers', 'ke', 'Rigsmolon', 'rok', 'Convery:', '', 'aa', 'Monta', 'vdoned', 'crn', 'Rome', 'mu)', 'Wy', '_Aowea', 'dh', '', 'iV', '=', 'Ronirawrwalkfen', 'lnk', '-', '%&', 'Aen', 'adn', 'Jd', 'a', '', 'Rus', 'ie', 'AUALO', 'theo', 'joke', '.', '', '', '', 'RPana.', '-»', 'The', 'Ra', '~ebec', 'Pricgl', 'Nechonfc', 'os', 'Open', '', 'Cale', 'dhe', 'Con', 'be', 'Ac', 'won', '', '', '', 'NL', 'EKehenkakt', 'On', 'OE', '', 'a', 'DANE,', 'V2', 'Cokren,', 'rae', 'Dts,', 'RX', 'mM', 'Lary', 'A', '', '', '', 'Wo', '<']}
None

for handwritten things (training datasets)

In [56]:
def saveindifferentfile(path,imgch):
    path=path+imgch
    img=cv2.imread(path)
    data=pytesseract.image_to_data(img,output_type=Output.DICT)
    length=len(data['text'])
    for i in range(length):
        if (float(data['conf'][i]))>30:
            (x,y,width,height)=(data['left'][i],data['top'][i],data['width'][i],data['height'][i])
            cropped=img[y:y+height,x:x+width]
            if(img.size!=0):
                    data1=pytesseract.image_to_data(cropped,output_type=Output.DICT)
                    if (len(data1['text'])>0):
                        file_name_path=savingpath+str(i)+'.jpg'
                        cv2.imwrite(file_name_path,cropped)

In [57]:
saveindifferentfile(path,img9)

Using Pre-trained Library called Paddle_ocr (china rocks)

In [13]:
# Paddleocr supports Chinese, English, French, German, Korean and Japanese.
# You can set the parameter `lang` as `ch`, `en`, `french`, `german`, `korean`, `japan`
# to switch the language model in order.

In [3]:
import translate
from translate import Translator

In [3]:
from paddleocr import PaddleOCR
ocr = PaddleOCR(lang='en')
img_path = path+img11
result = ocr.ocr(img_path)

[2025/03/10 19:18:38] ppocr DEBUG: Namespace(help='==SUPPRESS==', use_gpu=False, use_xpu=False, use_npu=False, use_mlu=False, use_gcu=False, ir_optim=True, use_tensorrt=False, min_subgraph_size=15, precision='fp32', gpu_mem=500, gpu_id=0, image_dir=None, page_num=0, det_algorithm='DB', det_model_dir='/Users/divypashine/.paddleocr/whl/det/en/en_PP-OCRv3_det_infer', det_limit_side_len=960, det_limit_type='max', det_box_type='quad', det_db_thresh=0.3, det_db_box_thresh=0.6, det_db_unclip_ratio=1.5, max_batch_size=10, use_dilation=False, det_db_score_mode='fast', det_east_score_thresh=0.8, det_east_cover_thresh=0.1, det_east_nms_thresh=0.2, det_sast_score_thresh=0.5, det_sast_nms_thresh=0.2, det_pse_thresh=0, det_pse_box_thresh=0.85, det_pse_min_area=16, det_pse_scale=1, scales=[8, 16, 32], alpha=1.0, beta=1.0, fourier_degree=5, rec_algorithm='SVTR_LCNet', rec_model_dir='/Users/divypashine/.paddleocr/whl/rec/en/en_PP-OCRv4_rec_infer', rec_image_inverse=True, rec_image_shape='3, 48, 320', rec_batch_num=6, max_text_length=25, rec_char_dict_path='/Users/divypashine/.pyenv/versions/3.11.1/lib/python3.11/site-packages/paddleocr/ppocr/utils/en_dict.txt', use_space_char=True, vis_font_path='./doc/fonts/simfang.ttf', drop_score=0.5, e2e_algorithm='PGNet', e2e_model_dir=None, e2e_limit_side_len=768, e2e_limit_type='max', e2e_pgnet_score_thresh=0.5, e2e_char_dict_path='./ppocr/utils/ic15_dict.txt', e2e_pgnet_valid_set='totaltext', e2e_pgnet_mode='fast', use_angle_cls=False, cls_model_dir='/Users/divypashine/.paddleocr/whl/cls/ch_ppocr_mobile_v2.0_cls_infer', cls_image_shape='3, 48, 192', label_list=['0', '180'], cls_batch_num=6, cls_thresh=0.9, enable_mkldnn=False, cpu_threads=10, use_pdserving=False, warmup=False, sr_model_dir=None, sr_image_shape='3, 32, 128', sr_batch_num=1, draw_img_save_dir='./inference_results', save_crop_res=False, crop_res_save_dir='./output', use_mp=False, total_process_num=1, process_id=0, benchmark=False, save_log_path='./log_output/', show_log=True, use_onnx=False, onnx_providers=False, onnx_sess_options=False, return_word_box=False, output='./output', table_max_len=488, table_algorithm='TableAttn', table_model_dir=None, merge_no_span_structure=True, table_char_dict_path=None, formula_algorithm='LaTeXOCR', formula_model_dir=None, formula_char_dict_path=None, formula_batch_num=1, layout_model_dir=None, layout_dict_path=None, layout_score_threshold=0.5, layout_nms_threshold=0.5, kie_algorithm='LayoutXLM', ser_model_dir=None, re_model_dir=None, use_visual_backbone=True, ser_dict_path='../train_data/XFUND/class_list_xfun.txt', ocr_order_method=None, mode='structure', image_orientation=False, layout=True, table=True, formula=False, ocr=True, recovery=False, recovery_to_markdown=False, use_pdf2docx_api=False, invert=False, binarize=False, alphacolor=(255, 255, 255), lang='en', det=True, rec=True, type='ocr', savefile=False, ocr_version='PP-OCRv4', structure_version='PP-StructureV2')
[2025/03/10 19:18:39] ppocr WARNING: Since the angle classifier is not initialized, it will not be used during the forward process
[2025/03/10 19:18:39] ppocr DEBUG: dt_boxes num : 67, elapsed : 0.09132122993469238
[2025/03/10 19:18:42] ppocr DEBUG: rec_res num  : 67, elapsed : 3.4388339519500732

In [4]:
l=[]
for n in range(len(result[0])):
    print(result[0][n][1][0])
    l.append(result[0][n][1][0])

A
B
c
D
E
1
Last NameSales
Country
Quarter
2
Smith
$16,753.00 UK
Qtr 3
3
Johnson
$14,808.00 USA
Qtr 4
4
Williams
$10,644.00 UK
Qtr 2
5
Jones
$1,390.00 USA
Qtr 3
6
Brown
$4,865.00 USA
Qtr 4
7
Williams
$12,438.00 UK
Qtr 1
8
Johnson
$9,339.00 UK
Qtr 2
9
Smith
$18,919.00 USA
Qtr 3
10
Jones
$9,213.00 USA
Qtr 4
11
Jones
$7,433.00 UK
Qtr 1
12
Brown
$3,255.00 USA
Qtr 2
13
Williams
$14,867.00 USA
Qtr 3
14
Williams
$19,302.00 UK
Qtr 4
15
Smith
$9,698.00 USA
Qtr 1
16

In [9]:
l_translated=[]
for n in range(len(result[0])):    
    translator = Translator(provider='mymemory', to_lang='fr', from_lang='en')
    translated_text = translator.translate(result[0][n][1][0])
    l_translated.append(translated_text)
    print(translated_text)

# Programme Python pour expliquer la méthode cv2.imshow()
# import cv2
importer cv2
chemin
path = r'C :\Users\Rajnish\Desktop\geeksforgeeks.png'
# Lecture d'une image en mode par défaut
image = cv2.imread(chemin)
# Nom de la fenêtre dans laquelle l'image est affichée
window_name = 'image'
# Utilisation de la méthode cv2.imshow()
et affichage de l'image.
cv2.imshow(nom_fenêtre, image)
# attend que l'utilisateur appuie sur n'importe quelle touche
# (ceci est nécessaire pour éviter le plantage de la forme du noyau Python)
cv2.waitKey(0)
# fermeture de toutes les fenêtres ouvertes
cv2.destroyAllwindows()

In [51]:
from huggingface_hub import InferenceClient
apikey = "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"
repo_id = "mistralai/Mistral-7B-Instruct-v0.3"
client = InferenceClient(api_key=apikey)

In [9]:
def check_searches(context, query):
    query_template = f"""
    You are given a list of words which when combined make sense. Return answer to query:{query} 
    only based on context:{context}, else just say 'Not in the given context'.
    Do not give comments or anyother additional information. Stick to the context:{context}.
    Sometimes you will be given math problems, if query:{query} states you to solve, you solve the context:{context}."""

    messages = [
        {"role": "system", "content": query_template},
        {"role": "user", "content": f"Context: {context}\n\nQuestion: {query}"}
    ] 

    response = client.chat.completions.create(
        model=repo_id,
        messages=messages
    )

    my_response = response['choices'][0]['message']['content']
    return my_response.split(',')

In [11]:
print(check_searches(l,"What is the context?"))

["'MUMBAICENTRAL' appears to indicate a central location in the city of Mumbai (formerly known as Bombay)", ' likely a central district or a central area within Mumbai. But to confirm', " it'd be best to consider additional context such as being part of an address", ' a neighborhood name', ' or a landmark. Without such context', " it's challenging to establish a definitive context.\n\nHowever", ' as per the rules of the prompt', ' the answer for the question "What is the context?" given the context:[\'MUMBAICENTRAL\'] is \'Not in the given context\'. If another question were to ask for a possible interpretation', ' I would expand upon it as detailed above.']

handwritten words

In [1]:
from transformers import TrOCRProcessor, VisionEncoderDecoderModel
from PIL import Image
from tqdm.auto import tqdm
from urllib.request import urlretrieve
from zipfile import ZipFile

/Users/divypashine/.pyenv/versions/3.13.1/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
import easyocr

In [6]:
reader=easyocr.Reader(['en'])

In [9]:
val=reader.readtext(path+img11)

In [10]:
for n in range(0,len(val)):
    print(val[n][1])

Last Name Sales
Country Quarter
Smith
S16,753.00 UK
Qtr 3
Johnson
S14,808.00 USA
Qtr 4
Williams
S10,644.00 UK
Qtr 2
Jones
S1,390.00 USA
Qtr 3
Brown
44,865.00 USA
Qtr 4
Williams
S12,438.00 UK
Qtr 1
Johnson
S9,339.00 UK
Qtr 2
Smith
S18,919.00 USA
Qtr 3
10 |Jones
S9,213.00 USA
Qtr 4
11
Jones
S7,433.00 UK
Qtr 1
12
Brown
S3,255.00 USA
Qtr 2
13
Williams
S14,867.00 USA
Qtr 3
14
Williams
S19,302.00 UK
Qtr 4
15
Smith
S9,698.00 USA
Qtr 1
16

Table detection and prediction

In [ ]:
#clone the paddleOCR from git
!git clone https://github.com/PaddlePaddle/PaddleOCR.git

fatal: unable to get current working directory: Operation not permitted

In [ ]:
!wget https://paddleocr.bj.bcebos.com/whl/layoutparser-0.0.0-py3-none-any.whl
!pip install -U layoutparser-0.0.0-py3-none-any.whl

--2025-03-11 17:51:35--  https://paddleocr.bj.bcebos.com/whl/layoutparser-0.0.0-py3-none-any.whl
Resolving paddleocr.bj.bcebos.com (paddleocr.bj.bcebos.com)... 103.235.47.176, 2402:2b40:7000:628:0:ff:b0e8:88da
Connecting to paddleocr.bj.bcebos.com (paddleocr.bj.bcebos.com)|103.235.47.176|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19145360 (18M) [application/octet-stream]
Saving to: ‘layoutparser-0.0.0-py3-none-any.whl’

layoutparser-0.0.0- 100%[===================>]  18.26M  4.27MB/s    in 22s

2025-03-11 17:51:59 (851 KB/s) - ‘layoutparser-0.0.0-py3-none-any.whl’ saved [19145360/19145360]

Traceback (most recent call last):
  File "/Users/divypashine/.pyenv/versions/3.11.1/bin/pip", line 5, in <module>
    from pip._internal.cli.main import main
  File "/Users/divypashine/.pyenv/versions/3.11.1/lib/python3.11/site-packages/pip/_internal/cli/main.py", line 11, in <module>
    from pip._internal.cli.autocompletion import autocomplete
  File "/Users/divypashine/.pyenv/versions/3.11.1/lib/python3.11/site-packages/pip/_internal/cli/autocompletion.py", line 10, in <module>
    from pip._internal.cli.main_parser import create_main_parser
  File "/Users/divypashine/.pyenv/versions/3.11.1/lib/python3.11/site-packages/pip/_internal/cli/main_parser.py", line 9, in <module>
    from pip._internal.build_env import get_runnable_pip
  File "/Users/divypashine/.pyenv/versions/3.11.1/lib/python3.11/site-packages/pip/_internal/build_env.py", line 17, in <module>
    from pip._internal.cli.spinners import open_spinner
  File "/Users/divypashine/.pyenv/versions/3.11.1/lib/python3.11/site-packages/pip/_internal/cli/spinners.py", line 9, in <module>
    from pip._internal.utils.logging import get_indentation
  File "/Users/divypashine/.pyenv/versions/3.11.1/lib/python3.11/site-packages/pip/_internal/utils/logging.py", line 13, in <module>
    from pip._vendor.rich.console import (
  File "/Users/divypashine/.pyenv/versions/3.11.1/lib/python3.11/site-packages/pip/_vendor/rich/__init__.py", line 17, in <module>
    _IMPORT_CWD = os.path.abspath(os.getcwd())
                                  ^^^^^^^^^^^
PermissionError: [Errno 1] Operation not permitted

In [ ]:
#not needed for now
import cv2
import layoutparser as lp
image = cv2.imread("/Users/divypashine/College/Project/imgtraining/Table.png")

image = image[..., ::-1]


model = lp.PaddleDetectionLayoutModel(config_path="lp://PubLayNet/ppyolov2_r50vd_dcn_365e_publaynet/config",
                                threshold=0.5,
                                label_map={0: "Text", 1: "Title", 2: "List", 3:"Table", 4:"Figure"},
                                enforce_cpu=False,
                                enable_mkldnn=True)

layout = model.detect(image)

E0311 22:49:43.607386 4191782976 analysis_config.cc:126] Please use PaddlePaddle with GPU version.

In [60]:
layout

Layout(_blocks=[TextBlock(block=Rectangle(x_1=13.086700439453125, y_1=7.34490966796875, x_2=583.0, y_2=569.0), text=None, id=None, type=Table, parent=None, next=None, score=0.9513948559761047)], page_data={})

In [202]:
from paddleocr import PaddleOCR, draw_ocr

In [203]:
ocr=PaddleOCR(lang='en')
path="/Users/divypashine/College/Project/imgtraining/Table.png"
img=cv2.imread(path)
height=img.shape[0]
width=img.shape[1]
Output=ocr.ocr(path)[0]

[2025/03/11 23:22:13] ppocr DEBUG: Namespace(help='==SUPPRESS==', use_gpu=False, use_xpu=False, use_npu=False, use_mlu=False, use_gcu=False, ir_optim=True, use_tensorrt=False, min_subgraph_size=15, precision='fp32', gpu_mem=500, gpu_id=0, image_dir=None, page_num=0, det_algorithm='DB', det_model_dir='/Users/divypashine/.paddleocr/whl/det/en/en_PP-OCRv3_det_infer', det_limit_side_len=960, det_limit_type='max', det_box_type='quad', det_db_thresh=0.3, det_db_box_thresh=0.6, det_db_unclip_ratio=1.5, max_batch_size=10, use_dilation=False, det_db_score_mode='fast', det_east_score_thresh=0.8, det_east_cover_thresh=0.1, det_east_nms_thresh=0.2, det_sast_score_thresh=0.5, det_sast_nms_thresh=0.2, det_pse_thresh=0, det_pse_box_thresh=0.85, det_pse_min_area=16, det_pse_scale=1, scales=[8, 16, 32], alpha=1.0, beta=1.0, fourier_degree=5, rec_algorithm='SVTR_LCNet', rec_model_dir='/Users/divypashine/.paddleocr/whl/rec/en/en_PP-OCRv4_rec_infer', rec_image_inverse=True, rec_image_shape='3, 48, 320', rec_batch_num=6, max_text_length=25, rec_char_dict_path='/Users/divypashine/.pyenv/versions/3.11.1/lib/python3.11/site-packages/paddleocr/ppocr/utils/en_dict.txt', use_space_char=True, vis_font_path='./doc/fonts/simfang.ttf', drop_score=0.5, e2e_algorithm='PGNet', e2e_model_dir=None, e2e_limit_side_len=768, e2e_limit_type='max', e2e_pgnet_score_thresh=0.5, e2e_char_dict_path='./ppocr/utils/ic15_dict.txt', e2e_pgnet_valid_set='totaltext', e2e_pgnet_mode='fast', use_angle_cls=False, cls_model_dir='/Users/divypashine/.paddleocr/whl/cls/ch_ppocr_mobile_v2.0_cls_infer', cls_image_shape='3, 48, 192', label_list=['0', '180'], cls_batch_num=6, cls_thresh=0.9, enable_mkldnn=False, cpu_threads=10, use_pdserving=False, warmup=False, sr_model_dir=None, sr_image_shape='3, 32, 128', sr_batch_num=1, draw_img_save_dir='./inference_results', save_crop_res=False, crop_res_save_dir='./output', use_mp=False, total_process_num=1, process_id=0, benchmark=False, save_log_path='./log_output/', show_log=True, use_onnx=False, onnx_providers=False, onnx_sess_options=False, return_word_box=False, output='./output', table_max_len=488, table_algorithm='TableAttn', table_model_dir=None, merge_no_span_structure=True, table_char_dict_path=None, formula_algorithm='LaTeXOCR', formula_model_dir=None, formula_char_dict_path=None, formula_batch_num=1, layout_model_dir=None, layout_dict_path=None, layout_score_threshold=0.5, layout_nms_threshold=0.5, kie_algorithm='LayoutXLM', ser_model_dir=None, re_model_dir=None, use_visual_backbone=True, ser_dict_path='../train_data/XFUND/class_list_xfun.txt', ocr_order_method=None, mode='structure', image_orientation=False, layout=True, table=True, formula=False, ocr=True, recovery=False, recovery_to_markdown=False, use_pdf2docx_api=False, invert=False, binarize=False, alphacolor=(255, 255, 255), lang='en', det=True, rec=True, type='ocr', savefile=False, ocr_version='PP-OCRv4', structure_version='PP-StructureV2')
[2025/03/11 23:22:14] ppocr WARNING: Since the angle classifier is not initialized, it will not be used during the forward process
[2025/03/11 23:22:14] ppocr DEBUG: dt_boxes num : 67, elapsed : 0.09148001670837402
[2025/03/11 23:22:17] ppocr DEBUG: rec_res num  : 67, elapsed : 3.3760788440704346

In [204]:
Output

[[[[107.0, 16.0], [126.0, 16.0], [126.0, 35.0], [107.0, 35.0]],
  ('A', 0.9991005659103394)],
 [[[224.0, 15.0], [242.0, 15.0], [242.0, 35.0], [224.0, 35.0]],
  ('B', 0.9922440648078918)],
 [[[331.0, 14.0], [348.0, 14.0], [348.0, 35.0], [331.0, 35.0]],
  ('c', 0.6135648488998413)],
 [[[421.0, 15.0], [439.0, 15.0], [439.0, 35.0], [421.0, 35.0]],
  ('D', 0.9964978098869324)],
 [[[520.0, 14.0], [536.0, 14.0], [536.0, 35.0], [520.0, 35.0]],
  ('E', 0.9910099506378174)],
 [[[28.0, 48.0], [42.0, 48.0], [42.0, 67.0], [28.0, 67.0]],
  ('1', 0.999752938747406)],
 [[[58.0, 43.0], [233.0, 46.0], [233.0, 69.0], [58.0, 67.0]],
  ('Last NameSales', 0.9888480305671692)],
 [[[296.0, 44.0], [382.0, 47.0], [382.0, 70.0], [295.0, 68.0]],
  ('Country', 0.9995110630989075)],
 [[[383.0, 47.0], [468.0, 47.0], [468.0, 70.0], [383.0, 70.0]],
  ('Quarter', 0.9988089799880981)],
 [[[27.0, 78.0], [43.0, 78.0], [43.0, 102.0], [27.0, 102.0]],
  ('2', 0.9587488174438477)],
 [[[58.0, 77.0], [123.0, 77.0], [123.0, 103.0], [58.0, 103.0]],
  ('Smith', 0.9997333288192749)],
 [[[179.0, 75.0], [326.0, 75.0], [326.0, 102.0], [179.0, 102.0]],
  ('$16,753.00 UK', 0.9804112911224365)],
 [[[387.0, 79.0], [439.0, 79.0], [439.0, 102.0], [387.0, 102.0]],
  ('Qtr 3', 0.9992932081222534)],
 [[[26.0, 112.0], [43.0, 112.0], [43.0, 135.0], [26.0, 135.0]],
  ('3', 0.9998989105224609)],
 [[[58.0, 112.0], [147.0, 112.0], [147.0, 136.0], [58.0, 136.0]],
  ('Johnson', 0.9997488856315613)],
 [[[181.0, 113.0], [337.0, 112.0], [337.0, 134.0], [182.0, 135.0]],
  ('$14,808.00 USA', 0.9536987543106079)],
 [[[386.0, 112.0], [442.0, 112.0], [442.0, 137.0], [386.0, 137.0]],
  ('Qtr 4', 0.9976720809936523)],
 [[[26.0, 145.0], [45.0, 145.0], [45.0, 167.0], [26.0, 167.0]],
  ('4', 0.9997730851173401)],
 [[[59.0, 144.0], [152.0, 144.0], [152.0, 168.0], [59.0, 168.0]],
  ('Williams', 0.9768986701965332)],
 [[[182.0, 146.0], [326.0, 146.0], [326.0, 167.0], [182.0, 167.0]],
  ('$10,644.00 UK', 0.9629951119422913)],
 [[[387.0, 145.0], [440.0, 145.0], [440.0, 168.0], [387.0, 168.0]],
  ('Qtr 2', 0.9983304142951965)],
 [[[24.0, 179.0], [41.0, 176.0], [44.0, 199.0], [27.0, 202.0]],
  ('5', 0.9995896220207214)],
 [[[60.0, 179.0], [121.0, 179.0], [121.0, 201.0], [60.0, 201.0]],
  ('Jones', 0.9998233914375305)],
 [[[193.0, 178.0], [339.0, 178.0], [339.0, 202.0], [193.0, 202.0]],
  ('$1,390.00 USA', 0.9739622473716736)],
 [[[387.0, 179.0], [440.0, 179.0], [440.0, 201.0], [387.0, 201.0]],
  ('Qtr 3', 0.9996610879898071)],
 [[[27.0, 213.0], [45.0, 213.0], [45.0, 234.0], [27.0, 234.0]],
  ('6', 0.9993696808815002)],
 [[[59.0, 212.0], [129.0, 214.0], [128.0, 236.0], [59.0, 233.0]],
  ('Brown', 0.9997852444648743)],
 [[[193.0, 213.0], [338.0, 213.0], [338.0, 234.0], [193.0, 234.0]],
  ('$4,865.00 USA', 0.9686896800994873)],
 [[[387.0, 212.0], [440.0, 212.0], [440.0, 235.0], [387.0, 235.0]],
  ('Qtr 4', 0.9989588856697083)],
 [[[26.0, 244.0], [45.0, 244.0], [45.0, 266.0], [26.0, 266.0]],
  ('7', 0.9996547698974609)],
 [[[59.0, 242.0], [151.0, 245.0], [151.0, 268.0], [59.0, 266.0]],
  ('Williams', 0.8674614429473877)],
 [[[182.0, 245.0], [325.0, 245.0], [325.0, 266.0], [182.0, 266.0]],
  ('$12,438.00 UK', 0.9792036414146423)],
 [[[386.0, 243.0], [441.0, 243.0], [441.0, 269.0], [386.0, 269.0]],
  ('Qtr 1', 0.9968250393867493)],
 [[[26.0, 279.0], [45.0, 279.0], [45.0, 300.0], [26.0, 300.0]],
  ('8', 0.9979379773139954)],
 [[[59.0, 277.0], [147.0, 277.0], [147.0, 301.0], [59.0, 301.0]],
  ('Johnson', 0.9997445344924927)],
 [[[192.0, 275.0], [326.0, 275.0], [326.0, 299.0], [192.0, 299.0]],
  ('$9,339.00 UK', 0.9801509976387024)],
 [[[387.0, 278.0], [440.0, 278.0], [440.0, 301.0], [387.0, 301.0]],
  ('Qtr 2', 0.9986797571182251)],
 [[[26.0, 311.0], [45.0, 311.0], [45.0, 332.0], [26.0, 332.0]],
  ('9', 0.9984704852104187)],
 [[[59.0, 310.0], [123.0, 310.0], [123.0, 334.0], [59.0, 334.0]],
  ('Smith', 0.9997894167900085)],
 [[[182.0, 312.0], [337.0, 312.0], [337.0, 332.0], [182.0, 332.0]],
  ('$18,919.00 USA', 0.9810348153114319)],
 [[[387.0, 311.0], [440.0, 311.0], [440.0, 333.0], [387.0, 333.0]],
  ('Qtr 3', 0.9996493458747864)],
 [[[22.0, 343.0], [49.0, 343.0], [49.0, 365.0], [22.0, 365.0]],
  ('10', 0.9994674921035767)],
 [[[59.0, 343.0], [120.0, 343.0], [120.0, 365.0], [59.0, 365.0]],
  ('Jones', 0.999852180480957)],
 [[[192.0, 342.0], [338.0, 342.0], [338.0, 366.0], [192.0, 366.0]],
  ('$9,213.00 USA', 0.9796983003616333)],
 [[[387.0, 343.0], [440.0, 343.0], [440.0, 366.0], [387.0, 366.0]],
  ('Qtr 4', 0.9988536834716797)],
 [[[22.0, 377.0], [48.0, 377.0], [48.0, 399.0], [22.0, 399.0]],
  ('11', 0.9997362494468689)],
 [[[59.0, 375.0], [122.0, 377.0], [121.0, 402.0], [57.0, 399.0]],
  ('Jones', 0.9998291730880737)],
 [[[192.0, 376.0], [326.0, 376.0], [326.0, 400.0], [192.0, 400.0]],
  ('$7,433.00 UK', 0.9854900240898132)],
 [[[387.0, 377.0], [439.0, 377.0], [439.0, 400.0], [387.0, 400.0]],
  ('Qtr 1', 0.9981426000595093)],
 [[[22.0, 410.0], [49.0, 410.0], [49.0, 432.0], [22.0, 432.0]],
  ('12', 0.9999244809150696)],
 [[[60.0, 411.0], [129.0, 411.0], [129.0, 432.0], [60.0, 432.0]],
  ('Brown', 0.9996426701545715)],
 [[[193.0, 411.0], [337.0, 411.0], [337.0, 431.0], [193.0, 431.0]],
  ('$3,255.00 USA', 0.9543063640594482)],
 [[[387.0, 410.0], [440.0, 410.0], [440.0, 432.0], [387.0, 432.0]],
  ('Qtr 2', 0.9993641972541809)],
 [[[22.0, 442.0], [49.0, 442.0], [49.0, 464.0], [22.0, 464.0]],
  ('13', 0.9999296069145203)],
 [[[59.0, 442.0], [151.0, 442.0], [151.0, 466.0], [59.0, 466.0]],
  ('Williams', 0.9948753118515015)],
 [[[182.0, 443.0], [337.0, 443.0], [337.0, 464.0], [182.0, 464.0]],
  ('$14,867.00 USA', 0.9566647410392761)],
 [[[386.0, 441.0], [440.0, 441.0], [440.0, 467.0], [386.0, 467.0]],
  ('Qtr 3', 0.9980970621109009)],
 [[[23.0, 476.0], [49.0, 476.0], [49.0, 498.0], [23.0, 498.0]],
  ('14', 0.9999545216560364)],
 [[[58.0, 473.0], [152.0, 475.0], [152.0, 499.0], [58.0, 497.0]],
  ('Williams', 0.9756448268890381)],
 [[[181.0, 475.0], [327.0, 475.0], [327.0, 499.0], [181.0, 499.0]],
  ('$19,302.00 UK', 0.9915655851364136)],
 [[[385.0, 475.0], [440.0, 473.0], [441.0, 498.0], [386.0, 501.0]],
  ('Qtr 4', 0.997793972492218)],
 [[[23.0, 509.0], [49.0, 509.0], [49.0, 531.0], [23.0, 531.0]],
  ('15', 0.9999114274978638)],
 [[[58.0, 508.0], [123.0, 508.0], [123.0, 532.0], [58.0, 532.0]],
  ('Smith', 0.9997695684432983)],
 [[[193.0, 510.0], [337.0, 510.0], [337.0, 530.0], [193.0, 530.0]],
  ('$9,698.00 USA', 0.960701048374176)],
 [[[387.0, 509.0], [440.0, 509.0], [440.0, 531.0], [387.0, 531.0]],
  ('Qtr 1', 0.9964057803153992)],
 [[[21.0, 541.0], [52.0, 541.0], [52.0, 566.0], [21.0, 566.0]],
  ('16', 0.9998711347579956)]]

In [205]:
boxes = [line[0] for line in Output]
texts = [line[1][0] for line in Output]
probabilities = [line[1][1] for line in Output]

In [206]:
image_boxes = img.copy()

In [207]:
for box,text in zip(boxes,texts):
  cv2.rectangle(image_boxes, (int(box[0][0]),int(box[0][1])), (int(box[2][0]),int(box[2][1])),(0,0,255),1)
  cv2.putText(image_boxes, text,(int(box[0][0]),int(box[0][1])),cv2.FONT_HERSHEY_SIMPLEX,1,(222,0,0),1)

In [208]:
cv2.imwrite('/Users/divypashine/College/Project/imgtraining/new.jpg', image_boxes)

True

In [209]:
im = img.copy()

In [ ]:
horiz_boxes = []
vert_boxes = []

for box in boxes:
  x_h, x_v = 0,int(box[0][0])
  y_h, y_v = int(box[0][1]),0
  width_h,width_v = width, int(box[2][0]-box[0][0])
  height_h,height_v = int(box[2][1]-box[0][1]),height

  horiz_boxes.append([x_h,y_h,x_h+width_h,y_h+height_h])
  vert_boxes.append([x_v,y_v,x_v+width_v,y_v+height_v])

  cv2.rectangle(im,(x_h,y_h), (x_h+width_h,y_h+height_h),(0,0,255),1)
  cv2.rectangle(im,(x_v,y_v), (x_v+width_v,y_v+height_v),(0,255,0),1)

In [211]:
cv2.imwrite('/Users/divypashine/College/Project/imgtraining/horiz_vert.jpg',im)

True

In [212]:
import tensorflow as tf
horiz_out = tf.image.non_max_suppression(
    horiz_boxes,
    probabilities,
    max_output_size = 1000,
    iou_threshold=0.1,
    score_threshold=float('-inf'),
    name=None
)

In [213]:
import numpy as np
horiz_lines = np.sort(np.array(horiz_out))
print(horiz_lines)

[ 0  5 10 13 17 22 26 29 34 38 42 46 49 53 57 61 65]

In [214]:
im_nms = img.copy()

In [215]:
for val in horiz_lines:
  cv2.rectangle(im_nms, (int(horiz_boxes[val][0]),int(horiz_boxes[val][1])), (int(horiz_boxes[val][2]),int(horiz_boxes[val][3])),(0,0,255),1)

In [216]:
cv2.imwrite('/Users/divypashine/College/Project/imgtraining/im_nms.jpg',im_nms)

True

In [ ]:
vert_out = tf.image.non_max_suppression(
    vert_boxes,
    probabilities,
    max_output_size = 1000,
    iou_threshold=0.1,
    score_threshold=float('-inf'),
    name=None
)

In [218]:
print(vert_out)

tf.Tensor([57 42 24  7  1  4], shape=(6,), dtype=int32)

In [219]:
vert_lines = np.sort(np.array(vert_out))
print(vert_lines)

[ 1  4  7 24 42 57]

In [220]:
for val in vert_lines:
  cv2.rectangle(im_nms, (int(vert_boxes[val][0]),int(vert_boxes[val][1])), (int(vert_boxes[val][2]),int(vert_boxes[val][3])),(255,0,0),1)

In [221]:
cv2.imwrite('/Users/divypashine/College/Project/imgtraining/im_nms.jpg',im_nms)

True

In [222]:


out_array = [["" for i in range(len(vert_lines))] for j in range(len(horiz_lines))]
print(np.array(out_array).shape)
print(out_array)

(17, 6)
[['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', ''], ['', '', '', '', '', '']]

In [223]:

unordered_boxes = []

for i in vert_lines:
  print(vert_boxes[i])
  unordered_boxes.append(vert_boxes[i][0])

[224, 0, 242, 570]
[520, 0, 536, 570]
[296, 0, 382, 570]
[387, 0, 440, 570]
[59, 0, 120, 570]
[23, 0, 49, 570]

In [224]:
ordered_boxes = np.argsort(unordered_boxes)
print(ordered_boxes)

[5 4 0 2 3 1]

In [225]:
def intersection(box_1, box_2):
  return [box_2[0], box_1[1],box_2[2], box_1[3]]

In [226]:
def iou(box_1, box_2):

  x_1 = max(box_1[0], box_2[0])
  y_1 = max(box_1[1], box_2[1])
  x_2 = min(box_1[2], box_2[2])
  y_2 = min(box_1[3], box_2[3])

  inter = abs(max((x_2 - x_1, 0)) * max((y_2 - y_1), 0))
  if inter == 0:
      return 0
      
  box_1_area = abs((box_1[2] - box_1[0]) * (box_1[3] - box_1[1]))
  box_2_area = abs((box_2[2] - box_2[0]) * (box_2[3] - box_2[1]))
  
  return inter / float(box_1_area + box_2_area - inter)

In [227]:
for i in range(len(horiz_lines)):
  for j in range(len(vert_lines)):
    resultant = intersection(horiz_boxes[horiz_lines[i]], vert_boxes[vert_lines[ordered_boxes[j]]] )

    for b in range(len(boxes)):
      the_box = [boxes[b][0][0],boxes[b][0][1],boxes[b][2][0],boxes[b][2][1]]
      if(iou(resultant,the_box)>0.1):
        out_array[i][j] = texts[b]

In [228]:
out_array=np.array(out_array)

In [229]:
out_array

array([['', 'A', 'B', 'c', 'D', 'E'],
       ['1', 'Last NameSales', '', 'Country', 'Quarter', ''],
       ['2', 'Smith', '$16,753.00 UK', '$16,753.00 UK', 'Qtr 3', ''],
       ['3', 'Johnson', '$14,808.00 USA', '$14,808.00 USA', 'Qtr 4', ''],
       ['4', 'Williams', '$10,644.00 UK', '$10,644.00 UK', 'Qtr 2', ''],
       ['5', 'Jones', '$1,390.00 USA', '$1,390.00 USA', 'Qtr 3', ''],
       ['6', 'Brown', '$4,865.00 USA', '$4,865.00 USA', 'Qtr 4', ''],
       ['7', 'Williams', '$12,438.00 UK', '$12,438.00 UK', 'Qtr 1', ''],
       ['8', 'Johnson', '$9,339.00 UK', '$9,339.00 UK', 'Qtr 2', ''],
       ['9', 'Smith', '$18,919.00 USA', '$18,919.00 USA', 'Qtr 3', ''],
       ['10', 'Jones', '$9,213.00 USA', '$9,213.00 USA', 'Qtr 4', ''],
       ['11', 'Jones', '$7,433.00 UK', '$7,433.00 UK', 'Qtr 1', ''],
       ['12', 'Brown', '$3,255.00 USA', '$3,255.00 USA', 'Qtr 2', ''],
       ['13', 'Williams', '$14,867.00 USA', '$14,867.00 USA', 'Qtr 3',
        ''],
       ['14', 'Williams', '$19,302.00 UK', '$19,302.00 UK', 'Qtr 4', ''],
       ['15', 'Smith', '$9,698.00 USA', '$9,698.00 USA', 'Qtr 1', ''],
       ['16', '', '', '', '', '']], dtype='<U14')

In [230]:
import pandas as pd
pd.DataFrame(out_array).to_csv('/Users/divypashine/College/Project/imgtraining/sample.csv')

In [231]:
pd.DataFrame(out_array).to_excel('/Users/divypashine/College/Project/imgtraining/sample.xlsx')

In [232]:
df=pd.DataFrame(out_array,columns=out_array[0])

In [233]:
df

                     A               B               c        D  E
0                    A               B               c        D  E
1    1  Last NameSales                         Country  Quarter
2    2           Smith   $16,753.00 UK   $16,753.00 UK    Qtr 3
3    3         Johnson  $14,808.00 USA  $14,808.00 USA    Qtr 4
4    4        Williams   $10,644.00 UK   $10,644.00 UK    Qtr 2
5    5           Jones   $1,390.00 USA   $1,390.00 USA    Qtr 3
6    6           Brown   $4,865.00 USA   $4,865.00 USA    Qtr 4
7    7        Williams   $12,438.00 UK   $12,438.00 UK    Qtr 1
8    8         Johnson    $9,339.00 UK    $9,339.00 UK    Qtr 2
9    9           Smith  $18,919.00 USA  $18,919.00 USA    Qtr 3
10  10           Jones   $9,213.00 USA   $9,213.00 USA    Qtr 4
11  11           Jones    $7,433.00 UK    $7,433.00 UK    Qtr 1
12  12           Brown   $3,255.00 USA   $3,255.00 USA    Qtr 2
13  13        Williams  $14,867.00 USA  $14,867.00 USA    Qtr 3
14  14        Williams   $19,302.00 UK   $19,302.00 UK    Qtr 4
15  15           Smith   $9,698.00 USA   $9,698.00 USA    Qtr 1
16  16

In [234]:
df.drop(0,inplace=True,axis=0)

In [235]:
df

                     A               B               c        D E
1    1  Last NameSales                         Country  Quarter
2    2           Smith   $16,753.00 UK   $16,753.00 UK    Qtr 3
3    3         Johnson  $14,808.00 USA  $14,808.00 USA    Qtr 4
4    4        Williams   $10,644.00 UK   $10,644.00 UK    Qtr 2
5    5           Jones   $1,390.00 USA   $1,390.00 USA    Qtr 3
6    6           Brown   $4,865.00 USA   $4,865.00 USA    Qtr 4
7    7        Williams   $12,438.00 UK   $12,438.00 UK    Qtr 1
8    8         Johnson    $9,339.00 UK    $9,339.00 UK    Qtr 2
9    9           Smith  $18,919.00 USA  $18,919.00 USA    Qtr 3
10  10           Jones   $9,213.00 USA   $9,213.00 USA    Qtr 4
11  11           Jones    $7,433.00 UK    $7,433.00 UK    Qtr 1
12  12           Brown   $3,255.00 USA   $3,255.00 USA    Qtr 2
13  13        Williams  $14,867.00 USA  $14,867.00 USA    Qtr 3
14  14        Williams   $19,302.00 UK   $19,302.00 UK    Qtr 4
15  15           Smith   $9,698.00 USA   $9,698.00 USA    Qtr 1
16  16

In [236]:
df.to_csv('/Users/divypashine/College/Project/imgtraining/sample.csv',index=False)

In [237]:
df.to_excel('/Users/divypashine/College/Project/imgtraining/sample.xlsx',index=False)

In [238]:
df

                     A               B               c        D E
1    1  Last NameSales                         Country  Quarter
2    2           Smith   $16,753.00 UK   $16,753.00 UK    Qtr 3
3    3         Johnson  $14,808.00 USA  $14,808.00 USA    Qtr 4
4    4        Williams   $10,644.00 UK   $10,644.00 UK    Qtr 2
5    5           Jones   $1,390.00 USA   $1,390.00 USA    Qtr 3
6    6           Brown   $4,865.00 USA   $4,865.00 USA    Qtr 4
7    7        Williams   $12,438.00 UK   $12,438.00 UK    Qtr 1
8    8         Johnson    $9,339.00 UK    $9,339.00 UK    Qtr 2
9    9           Smith  $18,919.00 USA  $18,919.00 USA    Qtr 3
10  10           Jones   $9,213.00 USA   $9,213.00 USA    Qtr 4
11  11           Jones    $7,433.00 UK    $7,433.00 UK    Qtr 1
12  12           Brown   $3,255.00 USA   $3,255.00 USA    Qtr 2
13  13        Williams  $14,867.00 USA  $14,867.00 USA    Qtr 3
14  14        Williams   $19,302.00 UK   $19,302.00 UK    Qtr 4
15  15           Smith   $9,698.00 USA   $9,698.00 USA    Qtr 1
16  16

In [4]:
import docx

In [26]:
def read(file):
    data=docx.Document(file)
    fulltext=[]
    for a in data.paragraphs:
        fulltext.append(a.text)
    return '\n'.join(fulltext)

In [27]:
filepath="/Users/divypashine/Downloads/Internship_Fair_CV_format_new.docx"

In [ ]:
print(read(file=filepath))

In [31]:
doc=docx.Document()
doc.add_paragraph('hello')
doc.save('/Users/divypashine/Downloads/sample.docx')